body {
  position: relative;
}

.product-image {
    width: 100%;
    height: 320px;
    object-fit: contain;
}

.product-image {
  border-radius: 4px;
}

.product:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.product {
    background: #ff0000;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

a {
    text-decoration: none !important;
}

a:hover h2:hover {
    text-decoration: underline !important;
    color: rgb(83, 83, 83);
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* exactly 3 columns */
    gap: 16px;
}

.product {
    width: 100%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-link {
  color: rgb(15, 15, 15);
  font-size: 2rem;
  color: #111;
  font-weight: 400;
}

.product-link:hover {
  color: #333;
}

.price {
  font-size: 1.125rem;
  font-weight: 600;
}

.out-of-stock {
  color: #d00;
  font-weight: bold;
}

.page-title {
    text-transform: capitalize;
}

.description p {
  display: inline;
}

.quanitiy {
  max-width: 200px;
}

.none {
  display: none !important;
}

.cart {
  position: fixed;
  right: 0;
  background-color: #f9f9f9;
  width: 16vw;
  max-height: 50vh;
  overflow-y: auto;
  padding: 16px;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px 0 0 8px;
  top: 56px;
}


.cart p {
  margin: 0;
}

.cart-btn {
  margin: 12px 0;
}

.cart-product-name {
  color: rgb(15, 15, 15);
  font-size: 2rem;
  color: #111;
  font-weight: 400;
}

.cart-opened {
  filter: grayscale(0.7);
}

.quantity-btn {
  margin:0 8px;
}

.add-to-cart-btn {
    display: none;
}

.product-card:hover .add-to-cart-btn {
    display: inline-block;
    margin: 16px 0;
}

.grey-out {
  filter: grayscale(1);
}

.product-images-container {
  max-height: 500px;
}

.thumbnails-wrapper {
  max-height: 500px;
  overflow-y: auto;
}

.thumbnail-img {
  height: 80px;
  object-fit: cover;
  border: none;
}

.main-image-wrapper {
  position: relative;
  width: 100%;
}

.main-image {
  max-height: 500px;
  object-fit: contain;
  width: 100%;
  display: block;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 10;
}

.carousel-arrow.left {
  left: 10px;
}

.carousel-arrow.right {
  right: 10px;
}